nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    height: 55px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 10;

}

.logo {
    width:75px;
}

.nav-links{
    display: flex;
    gap: 20px;
}